.container {
	display: flex;
	flex-direction: column-reverse;
}
.txt {
	font-size: 20px;
	width: 200rpx;
	height: 200px;
}
.green {
	background-color: #008000;
}
.red {
	background-color: #ff0000;
}
.blue {
	background-color: #007AFF;
}